@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

.main-container {
  width: 1200px;
  margin: auto;
  box-shadow: 0 0 50px 30px #dbdbdb;
}


.main-navigation {
  font-family: PT Sans;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 56px;
  text-transform: uppercase;
  line-height: 26px;
}

.site-navigation {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  padding: 0px;
  width: 100%;
  height: 56px;

}

.site-navigation li {
  display: flex;
  width: 239px;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
  color: black;
}

.site-navigation-continuation {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  padding: 0px;
  width: 100%;
  height: 56px;
  margin: 0;
}

.site-navigation-continuation li {
  display: flex;
  width: 239px;
  justify-content: center;
  align-items: center;
}

.main-tagline {
  font-family: PT Sans;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.tagline-item {
  font-family: PT Sans;
  font-size: 14px;
  line-height: 26px;
}

.hotel-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 453px;
  width: 1055px;
  padding-left: 72px;
  padding-right: 73px;
}


.hotel-item {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  height: 90px;
  margin: 0px;
  padding: 0px;

}

.hotel-item-description div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.hotel-item-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 20px;
  height: 90px;
}

.hotel-item-description h3 {
  margin: 0px;
  padding: 0px;
  font-family: PT Sans;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.hotel-item-description div p {
  font-family: PT Sans;
  font-size: 14px;
  line-height: 21px;
}

.hotel-rating {
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
  font-family: PT Sans;
  font-size: 14px;
  border:  1px solid red;
}

.hotel-rating p {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 1px solid fuchsia;
}

.hotel-choose {
  background: url("../img/filter-background.jpg");
  width: 1200px;
  height: 217px;
}

.hotel-conditions {
  display: flex;
  justify-content: space-between;

}

fieldset {
  width: 100%;
  display: flex;
}

.hotel-selection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1200px;
  height: 540px;
  padding: 0px;
  margin: 0px;
  border: 1px solid red;
}

.hotel-selection-option {
  display: flex;
  width: 1055px;
  justify-content: space-between;

  padding: 0px;
  margin: 0px;
  height: 86px;
  padding-left: 72px;
  padding-right: 73px;
}

.hotel-selection-sorting {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hotel-selection-sorting__order {
  list-style: none;
  display: flex;
  align-items: center;
}

.hotel-selection-direction {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hotel-selection-found {
  display: flex;
  align-items: center;
  font-family: PT Sans;
  font-weight: bold;
  font-size: 21px;

}

.main-footer {
  display: flex;
  align-items: flex-end;
  align-items: flex-end;
  justify-content: space-around;
  height: 594px;
  width: 1200px;
  background: url(../img/map.png);
}

.main-footer p {
  margin: 0;
  padding: 0;

}

.footer-social {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0px;
  margin: 0;
  width: 150px;
  height: 48px;
}

.main-footer-group {
  display: flex;
  height: 120px;
  width: 1200px;
  justify-content: space-around;
  align-items: center;
  font-family: PT Sans;
  font-weight: bold;
  font-size: 21px;

}

.footer-copyright {
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0;
  font-family: PT Sans;
  font-size: 14px;
}



.container-tagline {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* width: 1200px;
  height: 216px; */
  padding-left: 282px;
  padding-right: 282px;
  padding-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.container-tagline p:nth-child(1) {
  font-weight: bold;

}

.feature-list-interior:nth-of-type(1) {
  display: flex;
  background-color: #81b3d2;
  justify-content: space-between;
  /* align-items: center; */
}

.feature-item-interior {
  display: flex;
  width: 308px;
  height: 166px;
  text-transform: uppercase;
  flex-direction: column;
  text-align: center;
  margin-left: 46px;
  margin-right: 46px;
  line-height: 21px;
  padding-top: 0px;
  align-self: center;
  justify-content: center;
  /* background-color: #81b3d2; */
  font-family: PT Sans;
}

.feature-item-interior h3 {
  font-size: 21px;
  font-weight: bold;
  color: white;
}

.feature-item-interior p {
  font-size: 14px;
  color: white;
}

.feature-item h3 {
  font-family: PT Sans;
  font-size: 21px;
  font-weight: bold;
}

.feature-item p {
  font-family: PT Sans;
  font-size: 14px;
}

.feature-list-interior:nth-of-type(2) {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  text-transform: uppercase;
  background-color: #81b3d2;
}

.feature-list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-family: PT Sans;

}



.date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid khaki;
}

.date input {
  width: 346px;
  height: 38px;
  margin-right: 55px;
  margin: 0px;
  padding: 0px;
}

.adults {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.kids {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.quantity-human {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid blue;

}

.picking {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.picking h3 {
  font-family: PT Sans;
  font-weight: bold;
  font-size: 30px;
}

.picking p {
  font-family: PT Sans;
  font-size: 14px;
}

.picking label {
  font-family: PT Sans;
  font-weight: bold;
  font-size: 14px;
}

.pop-up {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 568px;
  height: 395px;
  border: 1px solid red;
  /* padding-left: 55px;
  padding-right: 55px; */
}

.button__find {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  color: white;
  font-family: PT Sans;
  font-weight: bold;
  font-size: 21px;
  border: none;
}

.button__pop-up {
  width: 568px;
  height: 86px;
  background-color: #766357;
  color: white;
  font-family: PT Sans;
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
  border: none;
}



.container-intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../img/test1.jpg");
  /* background-size: 1200px 724px;
  background-repeat: no-repeat; */
  background-size: cover;
  border: 1px solid lawngreen;
  background-position:0 -56px;
  background-repeat: no-repeat;
  width: 1200px;
  height: 724px;
}

.feature-list:nth-last-of-type(1) {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 256px;
  background-color: #eeeeee;
}

.feature-list:nth-last-of-type(2) {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 330px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

fieldset {
  height: 190px;
}

.hotel-item-button__more {
  width: 110px;
  height: 27px;
  background: url("../img/button_add.png");
  border: none;
}

.hotel-item-button__booking {
  width: 142px;
  height: 27px;
  background: url("../img/button_booking.png");
  border: none;
}

.button {
  display: flex;
  justify-content: center;
  border: 1px solid blueviolet;
}



.button button {
  height: 38px;
  width: 38px;
  margin: 0;
  padding: 0;
}

.button input {
  height: 32px;
  width: 38px;
}

.pop-up__inside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 458px;
  height: 285px;
}

.hotel-conditions__cost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.value {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.value button {
  width: 133px;
  height: 32px;

}

.hotel-conditions fieldset {
  border: none;
 }

 .checkbox1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid tomato;
}


