@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

.main-container {
  width: 1200px;
  margin: auto;
  box-shadow: 0px 0px 40px 40px rgba(242, 242, 242, 0.95);
}

body {
  font-family: PT Sans;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, p, button, input, ul {
  margin: 0;
  padding: 0;
}

img {
  object-fit: fill;
}

.main-navigation {
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  text-transform: uppercase;
  /* line-height: 26px; */
  min-height: 56px;
}

.site-navigation {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 478px;
}

.site-navigation li {
  width: 239px;
  padding-bottom: 22px;
  padding-top: 22px;
  text-align: center;
  align-items: stretch;

}

.site-navigation-continuation {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  flex-wrap: wrap;

}

.site-navigation-continuation li {
  width: 239px;
  padding-bottom: 22px;
  padding-top: 22px;
  text-align: center;
  align-items: stretch;

}

.main-tagline {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.tagline-item {
  font-size: 14px;
  line-height: 26px;
}

.hotel-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 453px;
  width: 1055px;
}


.hotel-item {
  display: flex;
  justify-content: space-around;
  height: 90px;
  margin: 0px;
  padding: 0px;

}

.hotel-item-description div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.hotel-item-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90px;
}

.hotel-item-description h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.hotel-item-description div p {
  font-size: 14px;
  line-height: 21px;
}

.hotel-rating {
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
  font-size: 14px;
}

.hotel-rating p {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hotel-choose {
  background: url("../img/filter-background.jpg");
  width: 1200px;
  height: 217px;
}

.hotel-conditions {
  display: flex;
  justify-content: space-between;
}

fieldset {
  width: 100%;
  display: flex;
}

.hotel-selection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1200px;
  height: 540px;
  padding: 0px;
  margin: 0px;
}

.hotel-selection-option {
  display: flex;
  width: 1055px;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  height: 86px;
}

.hotel-selection-sorting {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hotel-selection-sorting__order {
  list-style: none;
  display: flex;
  align-items: center;
}

.hotel-selection-direction {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hotel-selection-found {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 21px;
}

.main-footer {
  display: flex;
  align-items: flex-end;
  align-items: flex-end;
  justify-content: space-around;
  width: 1200px;

}

.footer-social {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 150px;
  height: 48px;
}

.main-footer-group {
  display: flex;
  height: 120px;
  width: 1200px;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 21px;
}

.footer-copyright {
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0;
  font-size: 14px;
}

.container-tagline {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  text-transform: uppercase;
}

.container-tagline p:nth-child(1) {
  font-weight: bold;

}

.feature-list-interior:first-of-type {
  display: flex;
  justify-content: space-between;
}

.feature-item-interior {
  display: flex;
  width: 400px;
  background-color: #81b3d2;
  padding-bottom: 40px;
  padding-top: 50px;
  min-height: 166px;
  text-transform: uppercase;
  flex-direction: column;
  text-align: center;
  line-height: 21px;
  align-self: center;
  justify-content: center;
}

.feature-item-interior h3 {
  font-size: 21px;
  font-weight: bold;
  color: white;
}

.feature-item-interior p {
  font-size: 14px;
  color: white;
}

.feature-item h3 {
  font-size: 21px;
  font-weight: bold;
}

.feature-item p {
  font-size: 14px;
}

.feature-list-interior:last-of-type {
  display: flex;
  justify-content: flex-end;
}

.feature-list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  text-align: center;
  text-transform: uppercase;
}

.date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid khaki;
}

.date input {
  width: 346px;
  height: 38px;
}

.adults {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kids {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity-human {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.picking {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.picking h3 {
  font-weight: bold;
  font-size: 30px;
}

.picking p {
  font-size: 14px;
}

.picking label {
  font-weight: bold;
  font-size: 14px;
}

.pop-up {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 568px;
  height: 395px;
}

.button__find {
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  color: white;
  font-weight: bold;
  font-size: 21px;
  border: none;
}

.button__pop-up {
  width: 568px;
  height: 86px;
  background-color: #766357;
  color: white;
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase;
  border: none;
}

.container-intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../img/test1.jpg");
  background-size: cover;
  background-position:0 -56px;
  background-repeat: no-repeat;
  width: 1200px;
  height: 724px;
}

.feature-list:last-of-type {
  display: flex;
  align-items: center;
  width: 1200px;
  min-height: 256px;
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
}

.feature-list:first-of-type {
  display: flex;
  align-items: center;
  width: 1200px;
  min-height: 330px;
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

fieldset {
  height: 190px;
}

.hotel-item-button__more {
  width: 110px;
  height: 27px;
  background: url("../img/button_add.png");
  border: none;
}

.hotel-item-button__booking {
  width: 142px;
  height: 27px;
  background: url("../img/button_booking.png");
  border: none;
}

.button {
  display: flex;
  justify-content: center;
  border: 1px solid blueviolet;
}

.button button {
  height: 38px;
  width: 38px;
}

.button input {
  height: 32px;
  width: 38px;
}

.pop-up__inside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 458px;
  height: 285px;
}

.hotel-conditions__cost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.value {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.value button {
  width: 133px;
  height: 32px;
}

.hotel-conditions fieldset {
  border: none;
 }

 .checkbox1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid tomato;
}

.map {
  width: 1200px;
  height: 474px;
  background: url(../img/map.png);
}
